body {
  background-color: #DAB88B;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 7px;
  width: 5%;
}

img {
  height: 300px;
}

h1  {
    color: #66BFBF;
}

h2  {
    color: #66BFBF;
}

h3  {
    color: #66BFBF;
}
